{% extends  'layouts/base.html' %}


{% block extra-css %}

<style type="text/css">

.imgProduct{
    width:100%;
    height: 15vw;
    object-fit: cover;
}

@media only screen and (max-width: 900px) {
    .imgProduct{
    height: 35vw;
    }
}
.card-footer{
    padding:0 0 0 0
}
.space{
    padding-top: 20px
}
.round{
    border-radius: 50%;
}

</style>


{% endblock %}


{% block content %}
{% load static %}
<div class="site-blocks-cover inner-page" data-aos="fade">
    <div class="container">
        <div class="row">
            <div class="col-md-6 ml-auto order-md-2 align-self-start">
                <div class="site-block-cover-content">
                    <h2 class="sub-title">#Best Deals on Clothes</h2>
                    <h1>SALE ! UP TO 50% off</h1>

                    <p><a href="#all_deals" class="btn btn-black rounded-0">Shop Now</a></p>
                </div>
            </div>
            <div class="col-md-6 order-1 align-self-end">
                <img src="{% static 'images/model_3.png'%}" alt="Image" class="img-fluid">
            </div>
        </div>
    </div>
</div>





<div class="site-section">
  <div class="container">
    <div class="title-section mb-5">
      <h2 class="text-uppercase"><span class="d-block">Discover</span> Our Collections</h2>
    </div>
    <div class="row align-items-stretch">
      <div class="col-lg-8">
        <div class="product-item sm-height full-height bg-gray">
          <a href="/wom" class="product-category">#4HER <span>40% off</span></a>
          <img src="{% static 'images/model_4.png'%}" alt="Image" class="img-fluid">
        </div>
      </div>
      <div class="col-lg-4">
        <div class="product-item sm-height bg-gray mb-4">
          <a href="/men" class="product-category">#4HIM <span>30% off</span></a>
          <img src="{% static 'images/model_5.png'%}" alt="Image" class="img-fluid">
        </div>

        <div class="product-item sm-height bg-gray">
          <a href="/kids" class="product-category">#4Kids <span>Sale</span></a>
          <img style="margin-top:-30px;" src="{% static 'images/children.jpg'%}" alt="Image" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</div>




<div class="site-section" id="hot_deals">
    <div class="container">
        <div class="row">
            <div class="title-section text-center mb-5 col-12">
                  <h2 class="text-uppercase"><span class="d-block">Today's</span> Best Deals</h2>
            </div>
        </div>
        <div class="row" >
            <div class="col-md-12 block-3">
                <div class="nonloop-block-3 owl-carousel">








                {% for item in items%}



                <div class="item forClick">


                    <div class="item-entry">
                      <a href="{{item.get_absolute_url}}" class="product-item md-height bg-gray d-block">
                        <img src="{{item.image.url}}" alt="Image" class="img-fluid" >
                      </a>
                      <h2 style="text-align: center;height:60px; !important;display:block;" class="item-title"><a href="{{item.get_absolute_url}}">{{item.title}}&nbsp;<span  class="badge badge-pill danger-color">-30%</span></a></h2>
                      <center><strong class="item-price"><del>{{ item.price }}$</del>&nbsp;{{ item.discount_price }}$</strong></center>
                      <center><div class="star-rating">
                        <span class="icon-star2 text-warning"></span>
                        <span class="icon-star2 text-warning"></span>
                        <span class="icon-star2 text-warning"></span>
                        <span class="icon-star2 text-warning"></span>
                        <span class="icon-star2 text-warning"></span>
                      </div>
                      </center>
                    </div>






                </div>
                  {% endfor %}
            </div>
        </div>
    </div>
</div>




<div class="site-section" id="all_deals">
    <div class="container">
        <div class="title-section mb-5">
            <h2 class="text-uppercase"><span class="d-block">top</span> selling&nbsp;<i style="color:#ee4266;" class="fab fa-hotjar" id="gender"></i></h2>
        </div>
        <div class="row mb-5">
            <div class="col-md-12 order-1">
                <div class="row mb-3">


                   {% for item in items %}


                    <div class="container" style="width:350px">
                    <!--Card-->
                        <!--  height:60px !important;display: block;line-height: 60px; -->
                        <div  class="card card-cascade card-ecommerce narrower forClick" data-id="{{item.id}}">
                            <!--Card image-->
                            <div class="view view-cascade overlay"  >
                                <img class="card-img-top imgProduct" src="{{item.image.url}}" alt="Image">
                                <a href="{{item.get_absolute_url}}">
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>
                            <!--/.Card image-->
                            <!--Card content-->
                            <div class="card-body card-body-cascade text-center">
                                <!--Category & Title-->

                                <h4 class="card-title"><strong><a href="{{item.get_absolute_url}}" >{{item.title}}</a></strong></h4>
                                <br>
                                <!--Description-->
                                <p class="card-text">{{item.description}}</p>
                                <!--Card footer-->
                                <div class="card-footer">
                                    <span style="font-weight:bold;color:red" class="float-left">{{ item.price }}$</span>
                                    <span class="float-right">
        <a href="{{item.get_absolute_url}}" data-toggle="tooltip" data-placement="top" title="Quick Look"><i class="fas fa-eye mr-3"></i></a>
        <a data-toggle="tooltip" data-placement="top" title="Add to Cart"><i class="fas fa-shopping-cart"></i></a>
      </span>



                                </div>
                            </div>
                        <!--/.Card content-->
                        </div>
                    <!--/.Card-->
                    <br><br><br>
                    </div>

                    {% endfor %}

                </div>



            </div>
        </div>
    </div>
</div>


<div class="site-blocks-cover inner-page py-5" data-aos="fade">
  <div class="container">
    <div class="row">
      <div class="col-md-6 ml-auto order-md-2 align-self-start">
        <div class="site-block-cover-content">
        <h2 class="sub-title">#New Summer Collection 2020</h2>
        <h1>New Shoes</h1>
        <p><a href="#" class="btn btn-black rounded-0">Shop Now</a></p>
        </div>
      </div>
      <div class="col-md-6 order-1 align-self-end">
        <img src="{% static 'images/model_6.png'%}" alt="Image" class="img-fluid">
      </div>
    </div>
  </div>
</div>



{% endblock %}





{% block js %}


    <!-- Script for Newsletter Modal PopUp and RegisterPopUP - Show Only once per session  -->
    <script type="text/javascript">

    $(function() {
        if ((typeof Storage != "undefined")) {
            if (!localStorage.getItem("done") ) {
                setTimeout(function() {
                    $('#newsletter').modal('show');
                }, 2000);
                setTimeout(function() {
                    $('#registerpopup').modal('show');
                }, 20000);
            }
            localStorage.setItem("done", true);
        }
    });

     // Incriment the value of Clicks when a user click in an offer

    $.ajaxSetup({
        headers: {
            'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
        }
    });

    $('.forClick' ).click(function(e) {
        let id=$(this).data("id");
        $.post('/shop2',{id:id},function(data){
            console.log(data);
        })
        $.post('/userclick',{id:id},function(data){
            console.log(data);
        })
    });

    toastr.options.showMethod = 'slideDown';
    toastr.options.hideMethod = 'slideUp';
    toastr.options.closeMethod = 'slideUp';

    $('.favorite-toggle').click( function () {
        var id = this.dataset.id

        $.post('/cart' , { id : id } , (data) => {
            if(data.toggle){
                $(this).find('i').removeClass("far").addClass( "fas" )
                toastr.success('Item successfully added to your cart list');
            }
            else{
                $(this).find('i').removeClass( "fas" ).addClass( "far" )
                toastr.warning('Item removed from your cart list');
            }
        });
    });
    </script>

{% endblock %}
