{% extends 'layouts/base.html' %}





  {% block content %}

<br>

<div class="bg-light py-3" style="background-color: #FBFBFB!important; ">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a href="/">Home</a> <span class="mx-2 mb-0">/</span> <a href="javascript:history.back()">Shop</a> <span class="mx-2 mb-0">/</span>

           <strong class="text-black">{{items.title}}</strong></div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">

        <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-lg-5">

      <!-- Featured image -->
      <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4">
        <img  class="img-fluid " src="{{items.image.url}}" alt="Sample image">

          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-7">

      <!-- Category -->


          <h2 class="text-black">{{items.title }}</h2>

      <!-- Post title -->
      <h6 class="font-weight-bold mb-3"><i style="color:red;" class="fas fa-fire"></i><strong>&nbsp;{{ items.get_category_display }}</strong></h6>
      <!-- Excerpt -->
      <p>{{ items.description }}</p>
        <p><strong class="text-danger h4">${{items.price }}</strong></p>

        {% if check_country in items.countries %}

        <p class="text-primary h7">Ships to <strong> {{name_country }}</strong></p>

        {% else  %}

          <p class="text-primary h7">This item does not ship to <strong> {{name_country }}</strong></p>
         {% endif %}



      <!-- Post data -->

      <!-- Read more button -->
      {% if user.is_authenticated %}

      <a  style="margin-left:-2px;" href="{{ object.get_add_to_cart_url }}" class="btn blue-gradient forClick">Add to cart</a>
      {% else %}

      <p style="font-weight: 400;color:#00264d">Want to add this Item to your Cart? Please log in <a href="/login" style="font-weight: 900;Color:Blue">here</a></p>

      {% endif %}


      {% if messages %}

            {% for message in messages%}
            <div class="alert alert-{{message.tags}}" role="alert">{{message}}

            {% endfor %}

            {% endif %}
      <span class="float-right mt-2 pt-1" >
        <i class="dropup">

          <!-- SHARE ON SOCIAL MEDIA -->


        <a data-toggle="dropdown" data-placement="top" title="Share"><i class="fas fa-share-alt mr-3"></i>

            <ul class="dropdown-menu" style=" min-width:0px;" >
                <li>
                  <a data-original-title="Twitter" title="Share on Twitter" rel="tooltip"  href="https://twitter.com/intent/tweet?url" target="_blank" class="btn btn-tw" data-placement="left">
                <i class="fab fa-twitter"></i>
              </a>
              </li>
              <li>
                <a data-original-title="Facebook" rel="tooltip"  title="Share on Facebook" href="https://www.facebook.com/sharer/sharer.php?u=" target="_blank" class="btn btn-fb" data-placement="left">
                <i class="fab fa-facebook"></i>
              </a>
              </li>



                    </ul>

        </a>
      </i>




      </span>
    </div>

  </div>
  <!--/.Card content-->

</div>
<!--/.Card-->




      </div>
      <br>




{% endblock %}


{% block js %}
<script>

  $.ajaxSetup({
  headers: {
    'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
  }
});
  $( '.forClick' ).click(function(e) {
            let id=$(this).data("id");
            console.log(id)
            $.post('/shop2',{id:id},function(data){
                console.log(data);
            })
            $.post('/userclick',{id:id},function(data){
                console.log(data);
            })

});

  toastr.options.showMethod = 'slideDown';
  toastr.options.hideMethod = 'slideUp';
  toastr.options.closeMethod = 'slideUp';

  $('.favorite-toggle').click( function () {
   var id = this.dataset.id

   $.post( '/cart' , { id : id } , (data) => {
      if(data.toggle){
        $(this).find('i').removeClass("far").addClass( "fas" )
        toastr.success('Item successfully added to your cart list');}
      else{
       $(this).find('i').removeClass( "fas" ).addClass( "far" )
       toastr.warning('Item removed from your cart list');}


   })
});

var popupMeta = {
    width: 400,
    height: 400
}
$(document).on('click', '.social-share', function(event){
    event.preventDefault();

    var vPosition = Math.floor(($(window).width() - popupMeta.width) / 2),
        hPosition = Math.floor(($(window).height() - popupMeta.height) / 2);

    var url = $(this).attr('href');
    var popup = window.open(url, 'Social Share',
        'width='+popupMeta.width+',height='+popupMeta.height+
        ',left='+vpPsition+',top='+hPosition+
        ',location=0,menubar=0,toolbar=0,status=0,scrollbars=1,resizable=1');

    if (popup) {
        popup.focus();
        return false;
    }
});
</script>



{% endblock %}
